@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" style="position: fixed; bottom: 0%; width: 100%; z-index: 10;">
        <div class="notification is-info">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <p class="content">We use cookies in accordance with our <a href="~/Home/Privacy" target="_blank">Privacy Policy</a> to create the best experience for you.</p>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <button type="button" class="button is-success" data-cookie-string="@cookieString">Accept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("is-hidden-mobile");
                document.querySelector("#cookieConsent").classList.add("is-hidden-tablet");
            }, false);
        })();
    </script>
}