@{
    ViewData["Title"] = "About";
    Layout = "_LayoutAnonymous";
}

<section class="is-hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-1">About</h1>
                </div>
            </div>
        </div>
    </div>
</section>