@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Register";
    ViewData["ShowHeader"] = false;
    ViewData["ShowCookieConsent"] = false;
}

<section class="hero is-medium" id="accounts-register" v-cloak>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-offset-one-third">
                    <h2 class="title is-2 has-text-centered">@Configuration["AppMetadata:Name"]</h2>
                    <h2 class="title is-3 has-text-centered">Register</h2>
                    <div class="notification is-danger" v-if="error">
                        <button class="delete" v-on:click="error = ''"></button>
                        {{error}}
                    </div>
                    <form v-on:submit.prevent="onSubmit()">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" autofocus autocomplete="off" :class="{ 'is-danger': errors.has('name') }" type="text" name="name" v-model.trim="user.name" v-validate.disable="{ 'required': true }">
                            </div>
                            <p class="help is-danger" v-if="errors.has('name')">{{errors.first('name')}}</p>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" autocomplete="off" :class="{ 'is-danger': errors.has('email') }" type="email" name="email" v-model.trim="user.email" v-validate.disable="{ 'required': true }">
                            </div>
                            <p class="help is-danger" v-if="errors.has('email')">{{errors.first('email')}}</p>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" autocomplete="off" :class="{ 'is-danger': errors.has('password') }" type="password" name="password" v-model.trim="user.password" v-validate.disable="{ 'required': true }">
                            </div>
                            <p class="help is-danger" v-if="errors.has('password')">{{errors.first('password')}}</p>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" name="agreedToTerms" v-model="user.agreedToTerms" v-validate.disable="{ 'required': true }">
                                I agree to the <a href="~/Home/Terms">Terms and Conditions</a>.
                            </label>
                            <p class="help is-danger" v-if="errors.has('agreedToTerms')">{{errors.first('agreedToTerms')}}</p>
                        </div>
                        <div class="field">
                            <button class="button is-primary is-fullwidth" :class="{ 'is-loading': isBusy }">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/dist/accounts-register.bundle.js" asp-append-version="true"></script>
}