@model Core1.Web2.Features.Accounts.ResetPassword.QueryResult
@{
    ViewData["Title"] = "Reset Password";
    ViewData["ShowHeader"] = true;
    ViewData["ShowCookieConsent"] = false;
}

<div class="container" id="accounts-reset-password" v-cloak>
    <div class="columns">
        <div class="column is-half-tablet is-one-third-desktop">
            <h2 class="title is-2">Reset Password</h2>
            <div class="notification is-success" v-if="message">
                <button class="delete" v-on:click="message = ''"></button>
                {{message}}
            </div>
            <div class="field" v-if="succeeded">
                <a class="button is-primary" href="~/Accounts/Login">Login</a>
            </div>
            <div class="notification is-danger" v-if="error">
                <button class="delete" v-on:click="error = ''"></button>
                {{error}}
            </div>
            <form v-on:submit.prevent="onSubmit()" v-if="!succeeded">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" autofocus :class="{ 'is-danger': errors.has('email') }" type="email" name="email" v-model.trim="user.email" v-validate.disable="{ 'required': true }">
                    </div>
                    <p class="help is-danger" v-if="errors.has('email')">{{errors.first('email')}}</p>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" :class="{ 'is-danger': errors.has('password') }" type="password" name="password" v-model.trim="user.password" v-validate.disable="{ 'required': true }">
                    </div>
                    <p class="help is-danger" v-if="errors.has('password')">{{errors.first('password')}}</p>
                </div>
                <div class="field">
                    <button class="button is-primary is-fullwidth" :class="{ 'is-loading': isBusy }">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script type="application/json" id="Model">
        @Json.Serialize(Model)
    </script>
    <script src="~/dist/accounts-reset-password.bundle.js" asp-append-version="true"></script>
}