/*
    sticky-footer
    As seen on https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*/
/*.sf-site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.sf-site-content {
    flex: 1;
}*/

@tailwind base;

@tailwind components;

@tailwind utilities;

/* 
    Prevent FOUC.
*/
[v-cloak] {
    display: none;
}