<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bulma/css/bulma.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    </environment>
</head>
<body>
    <div id="app">
        <div v-if="error">{{error}}</div>

        <div v-for="value in values">
            {{value}}
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/vue/dist/vue.js"></script>
        <script src="~/lib/axios/dist/axios.js"></script>
        <script src="~/lib/lodash/lodash.js"></script>
    </environment>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                error: '',
                values: []
            },
            mounted: function () {
                console.log('mounted');

                axios.get('api/values/search')
                    .then(function (response) {
                        this.values = response.data;
                    }.bind(this))
                    .catch(function () {
                        this.error = 'error';
                    }.bind(this));
            }
        });
    </script>
</body>
</html>