@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using Core1.RazorEmails.EmailViews.Shared
@model Core1.RazorEmails.EmailViews.Accounts.ConfirmEmail

@{
    ViewData["EmailTitle"] = $"Welcome, {Model.Name}!";
    ViewData["HideUnsubscribe"] = true;
}

<p>
    We're excited to have you get started. First, you need to confirm your email. Just press the button below.
</p>

@await Html.PartialAsync("/EmailViews/Shared/EmailButton.cshtml", new EmailButtonViewModel("Confirm Email", Model.ConfirmEmailUrl))