@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using Enketo.RazorEmails.EmailViews.Shared
@model Enketo.RazorEmails.EmailViews.Accounts.ForgotPassword

@{
    ViewData["EmailTitle"] = "Reset Password";
    ViewData["HideUnsubscribe"] = true;
}

<p>
    Reset your password by clicking on the button below.
</p>

@await Html.PartialAsync("/EmailViews/Shared/EmailButton.cshtml", new EmailButtonViewModel("Reset Password", Model.ResetPasswordUrl))

<p>
    If you did not initiate this action, please ignore this email.
</p>