@model Core1.Web.Features.Accounts.ConfirmEmail.CommandResult
@{
    ViewData["Title"] = "Confirm Email";
    ViewData["ShowHeader"] = true;
    ViewData["ShowCookieConsent"] = false;
}

<div class="container">
    <div class="columns">
        <div class="column">
            @if (Model.Succeeded)
            {
                <h2 class="title is-2">Email Confirmed</h2>
                <div class="field">
                    <p>Thank you for confirming your email.</p>
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="~/Accounts/Login" class="button is-link">Login</a>
                }
                else
                {
                    <a href="~/Surveys/Index" class="button is-link">Go to Surveys</a>
                }
            }
            else
            {
                <h2 class="title is-2">Unable to Confirm Email</h2>
                <p>Something went wrong while confirming your email address.</p>
            }
        </div>
    </div>
</div>