@{
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}

<div id="accounts-register">
    <h2>Register</h2>
</div>

@section scripts
{
    <script src="~/js/accounts/register.js" asp-append-version="true"></script>
}