@{
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}

<div id="accounts-register">
    <section class="is-hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <h1 class="title is-1">Register</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts
{
    <script src="~/dist/accounts-register.bundle.js" asp-append-version="true"></script>
}